.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background: linear-gradient(#000000, #313131 98%, #FFFFFF);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.K2-logo {
  background-image: url("/Users/kenarevalo/Desktop/K2 Webpage/test site/my-app/public/K2_Logo_1.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Dev-font {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 10px;
  font-size: 15px;
  text-align: center;
}

.middle-container {
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(#FFFFFF, #1F1F1F);
  min-height: 100vh;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
