.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background: linear-gradient(#000000, #313131 98%, #FFFFFF);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.K2-logo {
  position: relative;
  background-size: contain;
  height: 150px;
  width: 150px;
  margin: 10px;
}

#Dev-font {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 10px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 450px;
  transition: 1s opacity;
}

.second-Header {
  background: linear-gradient(#FFFFFF, #1F1F1F 50%);
  min-height: 95vh;
}

.typeit-text {
  color: #ffffff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1.5px #cacaca;
  margin: 40px 500px 30px 5px;
  opacity: 50%;
}

.background-img1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
  overflow: hidden;
  height: 300px;
  width: 1280px;
  float: left;
  opacity: 50%;
  margin: 0px 7000px 0px 0px;
}

.background-img2 {
  background-size: cover;
  height: 300px;
  position: absolute;
  margin-top: 300px;
  opacity: 50%;
  overflow: hidden;
  width: 100;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
